div{
  /* border: 1px solid black; */
}
.App {
  /* border: 2px solid black; */
}

header{
  overflow: auto;
  position: relative;
  height: 10vw;
  background-image:url('Img/header.png');
}


.LoactionBox{
  margin-top: 7vw;
  position: relative;
  margin-left: 20vw;
  width: 60vw;
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  height: 2vw;
}

.LoactionBox select{
  width: 10vw;
}

.InputSearch{
  width:40vw;
}

.InputSubmit{
  width:10vw;
}
/* LogIn */
.LogIn{
  left: 50%;
  margin-left: -7.5vw;
  position: absolute;
  z-index: 1;
  text-align: center;
  color:gray;
}
.LogIn input{
  /* border-color: green; */
  height: 2vw;
  min-width: 20vw;
  margin: 0.5vw;
}
.LogIn input::placeholder{
  font-size: 1vw;
  position: relative;
  left: 1vw;
}
.LogIn button{
  padding: 0.5vw;
  background-color: rgb(126,193,150);
  font-size: 2vw;
  min-width: 20vw;
  min-height: 2vw;
  border:1px solid rgb(126,193,150);
}
.LogIn button:hover{
  cursor: pointer;
}
.LogIn p{
  text-align: center;
  color:gray;
  font-size: 2vw;
  font-weight: 900;
}
.LogIn form{
  margin-top: 10vw;
  background-color: white
}
